{% extends "main.html.twig" %}

{% block header %}
{# <pre>
{{ dump(data)}}
?recipe_id=2&action=detail
</pre> #}

<div class = "cel" style = "background-color: var(--lighter-orange);">
    <div class = "image-container" {# afbeelding gerecht #}
         style = "margin-top: 10px;
                  margin-left: -10px;
                  margin-right: -10px;
                  height: 500px;
                  background-image: url('{{ data.0.recipe.afbeelding }}')">
        <div class = "floating-container" {# logo #}
             style = "align-items: center;
                      width: 450px; 
                      height: 200px;
                      background-color: rgba(225, 225, 225, 0.5);">
            <img src="assets/img/logo-v2.png" style="height: 175px;"/>
        </div> 
    </div>
<div>

{% endblock %}

{%  block content %}

{# <pre>
{{ dump(data.0.steps) }}
</pre> #}

<script> /* Voor de rating van de sterren, wordt alleen nog nergens opgeslagen */
    $(document).ready(function() { // Rating and Favorite, Hover and Click
        /////////////////////////////////////////////////
        // Gemiddelde als default weer- en terug geven //
        /////////////////////////////////////////////////
        
        // Past de sterren aan
        function setStars(rating) {
            $(".fa-star").each(function(index) {
                if (index < rating) {
                $(this).addClass("red");
                } else {
                    $(this).removeClass("red");
                }
            })
        }
    /*
        // Haalt het gemiddelde op en past sterren aan
        
         function loadAverageRating() {
            $.ajax({
                url: "index_2.php?action=test",
                method: "GET",
                success: function(avgResponse) {
                    // console.log("Average rating fetched:", avgResponse);
                    var averageRating = Math.floor(parseFloat(avgResponse))
                    setStars(averageRating);
                    $("#response").html("Gemiddelde Rating: " + avgResponse);
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching average rating: " + error);
                }
            })
        } 

        loadAverageRating(); 
    */
        // Rating ingeven 
        $(".fa-star").click(function () {
            const starValue = $(this).attr("data-value");

            // Clear all the red stars
            $(".fa-star").removeClass("red");

            // Paint it red!
            $(".fa-star").each((index, elem) => {
                const itemValue = $(elem).attr("data-value");
                if (itemValue <= starValue) {
                    $(elem).addClass("red");
                }
            });
            
            // console.log("data?:", {{data.0.recipe.id}});
            $.ajax({
                url: "index_2.php?action=test&recipe_id={{data.0.recipe.id}}&rating=" + starValue,
                method: "GET",

                success: function(response) {
                    var averageRating = Math.floor(parseFloat(response.averageRating));
                    console.log(averageRating);
                    setStars(averageRating);
                    // console.log("AverageRating:", averageRating);
                }
            }); 
        });
        
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        $(".fa-star").hover( // Hover function RATING 
            function () { // Enter hover RATING
                const value = $(this).attr('data-value')
                $(".fa-star").each((index, elem) => {       // Empty all stars
                    $(elem).removeClass("fa-solid");        // They will always have regular, solid just overwrites this
                    const itemValue = $(elem).attr('data-value')
                    if(itemValue <= value) {
                        $(elem).addClass("fa-solid");
                    }
                })
            },
            
            function() { // Leave hover RATING
                $(".fa-star").each((index, elem) => { 
                    $(elem).removeClass("fa-solid");        // They will always have regular, solid just overwrites this
                    if($(elem).hasClass("selected-icon")) { // If the the star was selected, it has to be filled once more
                        $(elem).addClass("fa-solid");
                    }
                })
            }
        ); 

        $(".fa-star").click( // Click function RATING 
            function () { 
                $(".fa-star").each((index,item) => { // Empty the stars
                    $(item).removeClass("selected-icon fa-solid")
                }) 
                
                const value = $(this).attr('data-value')
                $(".fa-star").each( (index, elem) => { // Fills the needed stars
                    const itemValue = $(elem).attr('data-value')
                    if (itemValue <= value) {
                            $(elem).addClass("selected-icon");
                    }
                })
            }
        );

        $(".fa-heart").hover( // Click function FAVORITE
            function () { 
                $(this).toggleClass("fa-regular fa-solid");
            }
        );

        $(".fa-heart").click( // Click function FAVORITE 
            function () { 
                $(this).toggleClass("fa-regular fa-solid");
            }
        );
        
    });
    
</script>

<div class="row">
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    </div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"> 
        <div class="row" {# RECEPTINFORMATIE #}
             style = "border: 1px solid black;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);"> 
            <div class="col-6 col-md-6 col-lg-6 subcell"> {# Gerecht foto #}
                <div class = "cell"
                    style="
                    margin-left: -15px;
                    background-image: url('{{ data.0.recipe.afbeelding }}');
                    background-size: cover;
                    height: 100%">
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6"> {# Gerecht informatie #}
                <br>
                <div class="row"> {# People, Price and Calories #}
                    <div class = "col-6 col-md-6 col-lg-6"> 
                        <div class = "row">
                            <div class = "col-4 col-md-4 col-lg-4"> {# People #}
                                <p> <i class = "fa-solid fa-user-group icon"></i> 4 </p>
                            </div>
                            <div class = "col-4 col-md-4 col-lg-4"> {# Price #}
                                <p> <i class = "fa-solid fa-euro-sign icon"></i> {{data.0.price|round(2)}} </p>
                            </div>
                            <div class = "col-4 col-md-4 col-lg-4"> {# Calories #}
                                <p> <i class = "fa-solid fa-fire icon"></i> {{ data.0.calories|round(0) }} </p> 
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row"> {# Title and Rating #}
                    <div class = "col-7 col-md-7 col-lg-7"> {# Title #}
                        <h1 style = "color: var(--darker-green)"> 
                            {{ data.0.recipe.titel }} 
                        </h1>
                    </div>
                    <div class = "col-5 col-md-5 col-lg-5 text-right"> {# Rating #}
                        <span class = "icon_2 fa-regular fa-star" style = "font-size: 30px" data-value = "1">  </span>
                        <span class = "icon_2 fa-regular fa-star" style = "font-size: 30px" data-value = "2">  </span>
                        <span class = "icon_2 fa-regular fa-star" style = "font-size: 30px" data-value = "3">  </span>
                        <span class = "icon_2 fa-regular fa-star" style = "font-size: 30px" data-value = "4">  </span>
                        <span class = "icon_2 fa-regular fa-star" style = "font-size: 30px" data-value = "5">  </span>
                    </div>
                </div> 
                <div class="row" style = "align-items: center;"> {# Keuken en Type #}
                    <div class = "col-2 col-md-2 col-lg-2" style = "margin-bottom: -10px;"> {# keuken titel #}
                        <h3 style = "color: var(--darker-green);">
                            Keuken 
                        </h3>
                    </div>
                    <div class = "col-3 col-md-3 col-lg-3"> {# keuken ingerecht #}
                        {{data.0.kitchen}}
                    </div>
                    <div class = "col-2 col-md-2 col-lg-2">
                        <br> 
                    </div>
                    <div class = "col-2 col-md-2 col-lg-2" style = "margin-bottom: -10px"> {# Type titel #}
                        <h3 style = "color: var(--darker-green)">
                            Type 
                        </h3>
                    </div>
                    <div class = "col-3 col-md-3 col-lg-3"> {# Type gerecht #}
                        {{data.0.type}}
                    </div>
                </div> 
                <div class="row"> {# Lange omschrijving #}
                    <div class = "col-12 col-md-12 col-lg-12 fading-content" 
                         style = "position: flex; bottom: 10px; right: 10px; height: 50px; margin-top: 10px"> 
                        {{data.0.recipe.lange_omschrijving}}
                    </div>
                </div> 
                <div class="row"> {# White space #}
                    <br>
                </div>
                <div class="row"> {# Knop en Favoriet #}
                    <div class = "col-6 col-md-6 col-lg-6"> {# Knop #}
                        <div class = "button-container">
                            <a href = "http://localhost/educom-verrukkulluk/index_2.php"> Op lijst </a>
                        </div>
                    </div>
                    <div class = "col-6 col-md-6 col-lg-6 text-right"> {# Favoriet #}
                        <h1> 
                            <span class = "icon_2 fa-regular fa-heart" style = "font-size: 30px; color: var(--lighter-red)">  </span>
                        </h1>
                    </div>
                </div> 
                <div class="row"> {# White space #}
                    <br>
                </div> 
            </div>
        </div>

        <div class="row"> {# White space #}
            <br>
        </div>

        <div class = "row"> {# TABS: button boven tabs zetten, border-bottom: transparent, twee vlakken die over de uitstekende left en right border vallen #}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" >
                        <div class="tabbable" id="tabs-931226">
                            <ul class="nav nav-tabs"> {# Dit zorgt voor de titels in de knoppen #}
                                {# kan nav-item aangepast worden? -> kan maar is niet goed, nieuw classe voor de style maken #}
                                <li class="nav-item nav-style" style = "margin-bottom: -1px;"> {# Ingrediënten #}
                                    <a class="nav-link active" href="#tab1" data-toggle="tab">
                                        <h3 style = "color: var(--darker-green)"> Ingrediënten </h3>
                                    </a>
                                </li>
                                <li class="nav-item nav-style" style = "margin-bottom: -1px;" > {# Bereidingswijze #}
                                    <a class="nav-link" href="#tab2" data-toggle="tab" >
                                        <h3 style = "color: var(--darker-green)"> Bereidingswijze </h3> 
                                    </a>
                                </li>
                                <li class="nav-item nav-style" style = "margin-bottom: -1px;"> {# Opmerkingen #}
                                    <a class="nav-link" href="#tab3" data-toggle="tab"> 
                                         <h3 style = "color: var(--darker-green)"> Opmerkingen </h3> 
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content"> {# Inhoud #}
                                <div class="tab-pane active" id="tab1"> {# Ingridiënten #}
                                    <div class = "row overlap-intersection">
                                        <br>
                                    </div>
                                    <div class = "row">
                                        {% for ingridient in data.0.ingridients %}
                                            <div class = "row">
                                                <div class = "col-md-1">
                                                </div>
                                                <div class = "col-md-2">    {# Foto #}
                                                    <p> Foto </p>
                                                </div>
                                                <div class = "col-md-9">   {# Informatie #}
                                                    <div class = "row">     {# Naam #}
                                                        <h2 style = "color: var(--darker-green)"> {{ingridient.naam}} </h2>
                                                    </div>
                                                    <div class = "row">     {# Uitleg #}
                                                        <p> {{ingridient.omschrijving}} </p>
                                                    </div>
                                                    <div class = "row">     {# Hoeveelheid #}
                                                        <div class = "col-md-2" style = "margin-bottom: 5px;">
                                                            <h4 style = "color: var(--darker-green);"> 
                                                                Hoeveelheid: 
                                                            </h4>
                                                        </div>
                                                        <div class = "col-md-10">
                                                            <p> {{ingridient.aantal}} {{ingridient.eenheid}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2"> {# Bereidingswijze #}
                                    <div class = "row">
                                        <br>                             
                                    </div>
                                    <div class = "row">
                                        {% for step in data.0.steps %}
                                            <div class = "row">
                                                <div class = "col-md-2 circle">    {# Enumeration #}
                                                    <p> {{ loop.index0 }}. </p> 
                                                </div>
                                                <div class = "col-md-10">   {# Stap #}
                                                    <p> {{step|nl2br}} </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3"> {# Opmerkingen #}
                                    <div class = "row">
                                        <br>                             
                                    </div>
                                    <div class = "row">
                                        {% for remark in data.0.remarks %}
                                            <div class = "row">
                                                <div class = "col-md-2"> {# afbeelding user #}
                                                    <div class = "circle" 
                                                        style="background-image: url('{{ remark.afbeelding }}')">
                                                    </div>
                                                </div>
                                                <div class = "col-md-10"> {# naam en comment #}
                                                    <div class = "row"> {# naam #}
                                                        <h2 style = "color: var(--darker-green)"> 
                                                            {{ remark.user_name }} 
                                                        </h2>
                                                    </div>
                                                    <div class = "row"> {# comment #}
                                                        <p> {{ remark.tekst_veld }} </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    </div>
</div>
{%  endblock %}