{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

{# HEADER #}
<div class="carousel slide" id="carousel-254962"> {# carousel #}
    <ol class="carousel-indicators">
        <li data-slide-to="0"
            data-target="#carousel-254962"
            class="active">
        </li>
        <li data-slide-to="1" data-target="#carousel-254962"></li>
        <li data-slide-to="2" data-target="#carousel-254962"></li>
    </ol>

    <div class="carousel-inner container" {# Carosel Items #}
         style = "border: 0px;"> 
        <div class="carousel-item active"> {# Carosel Item 1 #}
            <div style="align-items: center;
                        width: 1500;
                        height: 640px;
                        background-size: cover; 
                        justify-content: center;
                        background-image: url('https://auroraforyou.ru/wp-content/uploads/Kak-nachat-pravilno-pitatsya-1-e1625129528200.jpeg'); 
                        ">
                <div class = "floating-container" 
                    style ="align-items: center;
                            width: 450px; 
                            height: 200px;
                            background-color: rgba(225, 225, 225, 0.5);">
                    <img src="assets/img/logo-v2.png" style="height: 175px;"/>
                </div> 
            </div>
        </div>

        <div class="carousel-item"> {# Carosel Item 2 #}
                    {# Kijk of je de afbeelding kunt verkleinen? Zie recept dat zichzelf zelfs aanpast#}
            <div style="align-items: center;
                        height: 640px; 
                        background-size: cover; 
                        justify-content: center;
                        background-image: url('https://www.laversionedienrica.it/wp-content/uploads/2016/08/Melanzane-alla-parmigiana-11.jpg');
                        ">
                <div class = "floating-container"
                    style = "width: 450px; 
                            height: 200px;
                            background-color: rgba(225, 225, 225, 0.5);">
                    <img src="assets/img/logo-v2.png" style="height: 175px;"/>
                </div> 
            </div>
        </div>

        <div class="carousel-item"> {# Carosel Item 3 #}
                    {# Kijk of je de afbeelding kunt verkleinen? Zie recept dat zichzelf zelfs aanpast#}
            <div style="height: 640px; 
                        background-size: cover; 
                        justify-content: center;
                        background-image: url('https://drogespieren.nl/wp-content/uploads/aan-tafel-gezonder.jpg');">
                <div class = "floating-container" 
                    style = "width: 450px; 
                            height: 200px;
                            background-color: rgba(225, 225, 225, 0.5);">
                    <img src="assets/img/logo-v2.png" style="height: 175px;"/>
                </div> 
            </div>
        </div>
    </div> 

    <a class="carousel-control-prev" {# to previous slide #}
       href="#carousel-254962"
       data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only"> Previous </span>
    </a>

    <a class="carousel-control-next" {# to next slide #}
       href="#carousel-254962"
       data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only"> Next </span>
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}

<div class="container-fluid "> {# gerecht-tegels #}
    <div class = "row">
        {% for record in data %}
            <div class = "col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> {# Geeft alle info van een specifiek gerecht #}
                <div class = "cell"> 
                    <div class = "image-container" {# afbeelding gerecht #}
                         style="background-image: url('{{ record.recipe.afbeelding }}')">
                    </div>
                    <div class = "row"> {# title and rating #}
                        <div class = "col-7 col-sm-9 col-md-9 col-lg-8 col-xl-9"> {# title #}
                            <h1 class = "text-with-dots"> {{ record.recipe.titel }} </h1>
                        </div>
                        <div class = "col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3"> {# rating #}
                            {% if record.rating < 0.5 %}
                                <h6 class = "menu-container"> 
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 1 %}
                                <h6 class = "menu-container"> 
                                     <i class="goldenrod fa-regular fa-star-half-stroke"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 1.5 %}
                                <h6 class = "menu-container"> 
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 2 %}
                                <h6 class = "menu-container"> 
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star-half-stroke"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 2.5 %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 3 %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star-half-stroke"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 3.5 %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 4 %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star-half-stroke"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 4.5 %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star"></i> </h6>
                            {% elseif record.rating < 5 %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-regular fa-star-half-stroke"></i> </h6>
                            {% else %}
                                <h6 class = "menu-container">
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i>
                                     <i class="goldenrod fa-solid fa-star"></i> </h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class = "fading-content" {# korte omschrijving #}
                         style = "position: flex; bottom: 10px; right: 10px; height: 50px"> 
                        {{ record.recipe.korte_omschrijving }}
                    </div>
                    <div class = "row"> {# button and other info #}
                        <div class = "col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"> {# button #}
                            <div class = "button-container">
                                <a href = "http://localhost/educom-verrukkulluk/index_2.php?recipe_id={{ record.recipe.id }}&action=detail"> Smullen! </a>
                            </div>
                        </div>
                        <div class = "col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 subcel"> {# other info #}
                            <div class = "row">
                                <div class = "col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> {# user #}
                                    <p> <i class = "fa-solid fa-user-group red"></i> 4 </p>
                                </div>
                                <div class = "col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> {# price #}
                                    <p> <i class = "fa-solid fa-euro-sign red"></i> {{ record.price|round(2) }} </p>
                                </div>
                                <div class = "col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> {# calories #}
                                    <p> <i class = "fa-solid fa-fire red"></i> {{ record.calories|round(0) }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            
            {% if loop.index % 2 == 0 %} {# loop voor 2 per regel #}
                </div><div class = "row"></div> <br>
                <div class = "row">
            {% endif %}
        {% endfor %}
    </div>
</div>    

{% endblock %}


